body {
  margin: 0;
  color: #ffffff;
  font-family: 'Inter';
}

main {
  position: absolute;

  /* display: grid;
  grid-template-columns: repeat(12, 1fr); */
}

header {
  font-size: 48px;
  padding: 100px 0px;
  text-align: center;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

header h1 {
  animation: fadeIn 2s;
}

header h2 {
  font-size: 44px;
  animation: fadeIn 2s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.body-container {
  background-color: #ffffff;
  color: #000;
}

section {
  margin-left: 10%;
  margin-right: 10%;
}

.project-card {
  width: 30rem;
  height: 15rem;
  background-color: #333;
  color: #ffffff;
  border-width: 8px;
  border-style: solid;
  border-color: #290C46;
  border-radius: 1rem;
}

.project-card:hover {
  border-style: solid;
  border-color: #8432D1;
}

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

/* Class for sticky navbar using ul component */
.ul-sticky-navbar {
  grid-column: 1 / 13;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/* Class for li element in sticky navbar */
.li-navbar {
  float: left;
}

/* Class for a element in sticky navbar */
.a-navbar {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Hover behavior for a element in sticky navbar */
.a-navbar:hover:not(.active) {
  background-color: #111;
}

/* Selected class for a element in sticky navbar */
.a-navbar-active {
  background-color: #8432D1;
}

.footer {
  grid-column: 1 / 13;
  background: #333;
  color: #ffffff;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  text-align: center;
  font-size: 16px;
}