body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Inter';
  font-size: 100%;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  bottom :0;
  right: 0;
  height :100%;
  width :100%;
}

header {
  font-size: 275%;
  padding: 100px 0px;
  text-align: center;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

header h1 {
  animation: fadeIn 2s;
}

header h2 {
  font-size: 100%;
  animation: fadeIn 2s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.body-container {
  width: 100%;
  background-color: #ffffff;
  color: #000;
}

.body-container h2 {
  padding: 1% 0%;
  font-size: 200%;
  color: #290C46;
}

.body-container p, li {
  margin: 0.5% 0%;
  font-size: 135%;
}

section {
  margin-left: 10%;
  margin-right: 10%;
}

.first-section {
  padding-top: 1%;
}

.p-pad-top {
  padding-top: 1%;
}

.last-section {
  margin-bottom: 4%;
}

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

.project-card {
  padding: 8px;
  width: 29rem;
  height: 18rem;
  background-color: #333;
  color: #ffffff;
  border-width: 8px;
  border-style: solid;
  border-color: #290C46;
  border-radius: 1rem;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

@media screen and (max-width: 950px) {
  .website-image {
      height: auto;
  }
}

.website-image {
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.project-card:hover {
  scale: 1.05;
  border-style: solid;
  border-color: #8432D1;
}

.card-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: auto;
}

.card-info p {
  font-size: 95%;
  margin: 2px 0px;
}

.card-info h3 {
  margin: 0;
}

.card-tag-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.card-tag {
  padding: 2px;
  background-color: #8432D1;
  border-radius: 20px;
  padding-left: 4px;
  padding-right: 4px;
}

.card-button-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.card-button {
  background-color: #290C46;
  border-radius: 4px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  color: #ffffff;
}

.card-button:hover {
  background-color: #8432D1;
}

.play-button {
  background-color: #29460C;
}

.play-button:hover {
  background-color: #7FD132;
}

.card-button-logo {
  width: 48px;
  height: auto;
  object-fit: contain;
  padding: 4px;
}

.job-title-date {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.job-title {
  font-weight: bold;
}

.job-title-date p {
  margin-block-end: 0px;
}

.footer {
  background: #333;
  color: #ffffff;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 24px 0px;
}

.footer-p {
  justify-self: center;
  font-size: 50%;
}